.nav {
    background: #1d4052;
    width: 100%;
    margin: 0 auto;
    padding: 22px;
    font-family: sans-serif;
}
.menu-right {
    text-align: right;
    color: #FFFFFF;
    padding-right: 159px;
}
.social {
    float: right;
    position: relative;
    top: 13px;
    left: 68px;
}
.social a {
    float: left;
    font-size: 17px;
    line-height: 0px;
    padding: 7px 9px;
    color: #B9BBBA;
}

.icon {
    margin: 0px 24px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
#navbar li{
    display: inline-block;
    margin: 20px;
    list-style: none;

}
#navbar li a {
    color: #C4C5C0;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 2px;
    text-decoration: none;

}
#navbar li a.active, #navbar li a:hover {
    border: 2px solid white;
    transition: .5s;
    border-radius: 11px;
}


@media screen and (max-width: 1024px){

    #navbar li {
        margin: 10px;
        font-size: 17px;
    }
    .about-sub-details {
        margin-top: 116px;
    }

}

@media only screen and (max-width: 768px){

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .icon {
        display: block;
        float: right;
        position: relative;
        left: 157px;
    }
    .col-3 {
        width: 30%;
    }
    .col-9 {
        width: 70%;
    }
    #navbar li {
        display:block;
        margin: 50px -155px;
        line-height: 20px;
    }
    #navbar{
        display: none;
    }
    .social {
        float: right;
        position: relative;
        top: 3px;
        left: 157px;
    }
    .form-style {
        position: relative;
        left: 4%;
        top: 23px;
        margin-top: 19px;
    }
    .form-contact{

    }
    .textarea {
        border: 1px solid #fff;
        width: 75%;
        height: 50%;
    }
    .form-contact input {
        width: 75%;
        height: 22px;
        border-radius: 5px;
        border: 1px solid bisque;
    }
    /*.mobile-icon i {*/
    /*    font-size: 35px;*/
    /*    position: relative;*/
    /*    left: 48px;*/
    /*    top: 10px;*/
    /*}*/
    .contact {
        text-align: center;
        padding: 8px;
        border-bottom: 2px solid;
        color: #17A2B8;
    }
    .mobile-icon {
        position: relative;
        left: 9%;
    }
    .mobile-icon p {
        position: relative;
        top: 10px;
        left: 12px;
    }
    .mobile-icon {
        position: relative;
        left: -6%;
    }
    .mobile-icon i {
        position: absolute;
        font-size: 26px;
        top: 5px;
        left: 94px;
    }
    .mail-icon p {
        position: absolute;
        left: 242px;
        top: 25px;
    }
    .mail-icon i {
        position: absolute;
        font-size: 26px;
        top: 5px;
        left: 327px;
    }
    .sideBar {
        float: right;
        background: #DEE1E6;
        position: relative;
    }
    .location-icon {
        position: relative;
        left: -6%;
        top: 169%;
        margin-bottom: 6px;
    }
    .location-icon i {
        position: relative;
        font-size: 26px;
        top: 37px;
        left: -192px;
    }
    .location-icon p {
        position: relative;
        left: -264px;
        top: 32px;
    }




}
@media only screen and (max-width: 400px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}



    /*.col-m-3 {width: 25%;}*/

    .icon {
        display: block;
        position: relative;
        top: 22px;
    }
    .logo {
        position: absolute;
        top: 49px;
    }
    .social {
        position: relative;
        top: -8px;
        left: 82px;
    }
    [class*="col-"] {
        width: 100%;
    }
    #navbar li {
        display: block;
        margin: 51px 0;
        line-height: 12px;
    }
    #navbar{
        display: none;
    }
    .mobile-icon {
        position: relative;
        left: 34px;
    }
    .mobile-icon p {
        position: relative;
        top: 23px;
    }
    .mobile-icon i {
        position: absolute;
        left: 116px;
        font-size: 42px;
        top: 2px;
    }
   .mail-icon {
         position: relative;
         left: 36px;
     }
    .mail-icon i {
        position: absolute;
        font-size: 40px;
        left: 107px;
        top: 4px;
    }
    .mail-icon p {
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .location-icon {
        position: relative;
        left: 39px;
    }
    .location-icon i {
        position: relative;
        font-size: 45px;
        left: 92px;
        top: 31px;
    }
    .location-icon p {
        position: relative;
        top: 24px;
        left: 20px;
    }
    .form-style {
        position: relative;
        left: 10%;
        top: 16px;

    }
    .content{
        float: left;
    }
    .about-image {
        width: 113px;
        height: 71px;
    }


}